// 主题颜色
$default-color: #fff;
$primary-color: #1D91FC;
$success-color: #52C41A;
$warning-color: #FAAD14;
$danger-color: #E93939;
$info-color: #8d919a;
// 禁用颜色
$disabled-color: #E4E7ED;
// 默认的线条颜色
$border-color: #E2E3E5;
// 默认圆角
$border-radius: 4px;
